@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.container::-webkit-scrollbar-thumb {
  background-color: grey;
  border: 4px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
}
.container::-webkit-scrollbar-track-piece {
  height: 30px;
}

.container::-webkit-scrollbar {
  width: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background: white;
}
.show-btn {
  background-color: #3a7afe;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 10em;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}
.show-btn,
.container,
.bcontainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  display: none;
}
.popup.open {
  display: block;
}
.container {
  background-color: #fff;
  padding: 30px;
  height: 640px;
  width: 420px;
  overflow: auto;
  border: solid 1px #3a7afe;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
}
.bcontainer {
  background-color: red;
  height: 640px;
  width: 420px;
  border-radius: 20px;
}
.btn2{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 10px;
  border-radius: 0 0 20px 20px;
  height: 80px;
  overflow: hidden;
  text-align: center;
  background-color: #3a7afe;
  
}

.container .text {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.container form {
  margin-bottom: 100px;

}
.container form .data {
  height: 45px;
  width: 100%;
  margin-bottom: 45px;
}

form .data input {
  height: 100%;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f6f2f2;
  border-radius: 20px;
  border: none;
}
form .data label {
  font-size: 0.6em;
}


 button {
  height: 50%;
  width: 60%;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 100;
  border-radius: 15px;
  background: #f6f2f2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
}

.circle{
  position: absolute;
  bottom: 80px;
  width: 420px;
  height: 26px; 
 opacity: .3;
  border-top-left-radius: 100% 200%;  
  border-top-right-radius: 100% 200%; 
  border-bottom: 0;
  background-image: linear-gradient(to top, #3a7afe, white);
  

}